* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: hsl(217, 54%, 11%);
	color: hsl(215, 51%, 70%);
	font-size: 18px;
	height: 90rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.card {
	background-color: hsl(216, 50%, 16%);
	border-radius: 2rem;
	height: 59.2rem;
	width: 34.8rem;
}

.equilibrium {
}

.attribution {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
}
